@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="~/Staff/Index">Quản lý nhân viên</a>.</p>
    <p><a href="~/Staff/Report">Thống kê nhân viên</a>.</p>
</div>
