@model hocviec.Models.nhanvien
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4>Nhân Viên</h4>
<hr />
 <form asp-action="Edit" onsubmit="return JqueryPost(this);" autocomplete="off" class="row g-3">
            <div asp-validation-summary="ModelOnly" class="text-danger mt-2"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="ten" class="control-label">Tên</label>
                        <input asp-for="ten" class="form-control" name="Ten" id="Ten"/>
                        <span asp-validation-for="ten" class="text-danger mt-2"></span>
                    </div>
                </div>
                <div class="col-md-6">
                     <div class="form-group">
                        <label asp-for="chucvu" class="control-label">Chức Vụ</label>
                        <input asp-for="chucvu" class="form-control" name="Chucvu" id="Chucvu"/>
                        <span asp-validation-for="chucvu" class="text-danger mt-2"></span>
                     </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="ngaysinh" class="control-label">Ngày Sinh</label>
                        <input asp-for="ngaysinh" class="form-control" name="Ngaysinh" id="Ngaysinh">
                        <span asp-validation-for="ngaysinh" class="text-danger mt-2"></span>
                    </div>  
                </div>
               <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="sdt" class="control-label">Số Điện Thoại</label>
                        <input asp-for="sdt" class="form-control" name="Sdt" id="Sdt" />
                        <span asp-validation-for="sdt" class="text-danger mt-2"></span>
                    </div>
                </div>
            <div class="form-group">
                <label asp-for="diachi" class="control-label">Địa Chỉ</label>
                <input asp-for="diachi" class="form-control" name="Diachi" id="Diachi"/>
                <span asp-validation-for="diachi" class="text-danger mt-2"></span>
            
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary"/>
                 <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </form>


@section Scripts {
     @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
